<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <title>Document</title>
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css"  media="all">
    <script type="text/javascript" src="__STATIC__/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__STATIC__/layer/layer/layer.js"></script>
    <script src="__STATIC__/layui/layui.js"></script>
    <style>
        table input[type='text']{
            width:100%;
            height:100%;}
        .layui-table td{
            padding:0 10px;
        }
        .layui-table{
            margin-top: 0;
        }
        .hide{
            display:none;
        }

    </style>
</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 5px;">
    <legend>
        <button type="button" class="layui-btn layui-btn-normal addGoods"><i class="layui-icon">&#xe654;</i>选择商品</button>
    </legend>
</fieldset>
<!--添加商品弹出层-->
<div id="goodsInfo" class="hide" >
    <form class="layui-form" id="goodsinfo_form">
            <div class="layui-form-item" >
                <label class="layui-form-label">商品种类</label>
                <div class="layui-input-inline">
                    <select name="goods1" id="goods_type" lay-filter="goods_type" lay-verify="">
                        <option value="">请选择</option>
                        {foreach :model('goods','service')->goods_type() as $key=>$val}
                        <option value="{$val.goods_type}">{$val.goods_type}</option>
                        {/foreach}
                    </select>
                </div>
                <label class="layui-form-label">商品名称</label>
                <div class="layui-input-inline">
                    <select name="goods2" id="get_name" lay-filter="goods_name" lay-verify="">
                        <option value="">请选择</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">数量</label>
                <div class="layui-input-inline">
                    <input type="number" name="num" required  lay-verify="required" placeholder="请输入数量" autocomplete="off" class="layui-input">
                </div>
                <label class="layui-form-label">单价</label>
                <div class="layui-input-inline">
                    <input type="number" name="price" placeholder="请填写单价" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">/<span>元</span></div>
            </div>
    </form>
</div>
<!--添加商品弹出层-->
<form class="layui-form" action="" enctype="multipart/form-data">
    <div style="width: 98%;padding: 5px;border:2px solid skyblue">
        <table class="layui-table">
          <colgroup>
            <col  width="200">
            <col>
            <col>
            <col>
            <col>
          </colgroup>
          <thead>
            <tr>
              <th>商品名称</th>
              <th>单价</th>
              <th>数量</th>
              <th>单位</th>
              <th>总价</th>
              <th>操作</th>
            </tr> 
          </thead>
          <tbody class="goods_tbody">
            
          </tbody>
        </table>        
    </div>

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 5px;">
    </fieldset>
    <div class="layui-form-item">
        <label class="layui-form-label">客户名称:</label>
        <div class="layui-input-inline">
            <input type="text" name="business_name" lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">合同金额:</label>
        <div class="layui-input-inline">
            <input type="text" name="money" lay-verify="required" placeholder="请输入金额" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div style="margin-top: 20px;"></div>
    <div class="layui-form-item">
        <!--<label class="layui-form-label" style="width:88px">对应采购合同:</label>-->
        <!--<div class="layui-input-inline">-->
            <!--<input type="text" name="cg_contract_id" laceholder="请输入" autocomplete="off"  placeholder="填写采购合同编号(可选填)" class="layui-input">-->
        <!--</div>-->
            <label class="layui-form-label" style="width:88px">最迟付款时间</label>
            <div class="layui-inline"> <!-- 注意：这一层元素并不是必须的 -->
                <input type="text" class="layui-input" id="last_time">
            </div>
    </div>
    <div style="margin-top: 20px;"></div>
    <div class="layui-upload">
        <button type="button" style="margin-left:40px" class="layui-btn layui-btn-normal" id="upload_photo">选择文件</button>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 5px;">
    </fieldset>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button id="butt" class="layui-btn" lay-submit lay-filter="formDemo" style="margin-left:80px;background-color:#1E9FFF">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary" style="margin-left:140px">重置</button>
        </div>
        <input type="hidden" name="contract_file">
        <input type="hidden" name="dateofcollection">
    </div>
</form>
</body>
<script>
    //选择商品联动
    layui.use("form",function(){
        var form = layui.form;
        form.on('select(goods_type)',function(data){
            $.ajax({
                url:"{:url('index/goods/get_names')}",
                method:'post',
                data:{type:data.value},
                success:function (res) {
                    var str="";
                    $.each(res,function(key,val){
                        str +="<option value='"+val.goods_id+"'>"+val.goods_name+"</option>";
                    })
                    $("#get_name").html(str);
                    form.render('select');
                }
            })
        })
    })
    //监听选择名称事件

    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#last_time' //指定元素
            ,done:function (value) {
                $('input[name="dateofcollection"]').val(value);
            }
        });
    });

    layui.use('upload',function () {
        var $ = layui.jquery;
        var upload = layui.upload;

        upload.render({
            elem: '#upload_photo'
            ,url: '{:url("index/contract/images")}'
            ,field:'xadd'
            ,accept:'file'
            ,auto: false //选择文件后不自动上传
            ,method:"post"
            ,bindAction: '#butt' //指向一个按钮触发上传
            ,done:function (res,index,upload) {
                if(res.status == 'success'){
                    $('input[name="contract_file"]').val(res.msg);
                }else{
                    $('input[name="contract_file"]').val();
                }

            }
        });
    })



// 添加商品
 var goodsArr = [];  //所有商品的数组
    $(".addGoods").on("click",function(){
    var index = layer.open({
          title: '添加商品',
          type:1,
          btn:['确定','取消'],
          btnAlign:"x",
          area: ['60%', '60%'],
          content: $("#goodsInfo"),
          yes:function(){
            var good = {};
            var name = $("select[name='goods2']").val().trim(),price = $("input[name='price']").val().trim(),num = $("input[name='num']").val().trim();
            var oName = $("select[name='goods2']").find("option:selected").html();
            var allPrice = parseInt(price)*parseInt(num);
            if(name && price && num != ""){
                // 渲染table
                var _html = "<tr>";
                _html += "<td class='idval' style='display:none'>"+name+"</td>";
                _html += "<td>"+oName+"</td>";
                _html += "<td>"+price+"</td>";
                _html += "<td>"+num+"</td>";
                _html += "<td>元</td>";
                _html += "<td>"+allPrice+"</td>";
                _html += "<td><a href='#' class='layui-btn layui-btn-xs layui-btn-danger del'>删除</a></td>";
                _html += "</tr>";
                $(".layui-table .goods_tbody").append(_html);
                good['name'] = name;
                good['price'] = price;
                good['num'] = num;

                layer.close(index)
            }else{
                layer.msg("请将信息填写完整！");
            }
            goodsArr.push(good);
        }
    })
   })

// table 中 删除按钮
    $(".layui-table").on("click",".del",function(){

        $(this).parents("tr").remove();
        var index = Number($(this).parent().siblings(".idval").html());
        goodsArr = goodsArr.filter(function(item){
            return item.name != index
        })
    })
    layui.use('form', function(){
        var form = layui.form;
        form.on('submit(formDemo)', function(data){
            var dataobj=data.field;
            if(goodsArr ==''){
                layer.msg('请填写商品信息！');
                return false;
            }else{
                var table = {};
                table["goodsarr"] = goodsArr;
                table["dataobj"]=dataobj;
                $.ajax({
                    url:"{:url('index/contract/xadd_data')}",
                    type:"post",
                    data:{formdata:JSON.stringify(table)},
                    success:function (res) {
                        res=JSON.parse(res);
                        layer.msg(res.msg);
//                        if(res.status=='success'){
//                            layer.msg(res.msg);
//                        }else{
//                            layer.msg(res.msg);
//                        }
                    },
                    error:function () {
                        alert('网络错误!!!');
                    }
                })
            }



        });
    });
</script>
</html>
