<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css"  media="all">
    <script type="text/javascript" src="__STATIC__/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__STATIC__/layer/layer/layer.js"></script>
    <script src="__STATIC__/layui/layui.js"></script>
</head>
<body>
    <form class="layui-form" action="">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 5px;">
            <legend>添加采购合同基本信息</legend>
        </fieldset>
        <div class="layui-form-item">
            <label class="layui-form-label">商品名称:</label>
            <div class="layui-input-inline">
                <input type="text" name="goods_name" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label">商品型号:</label>
            <div class="layui-input-inline">
                <input type="text" name="goods_type" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品厂家:</label>
            <div class="layui-input-inline">
                <input type="text" name="manufactor" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label">商品单价:</label>
                <div class="layui-input-inline">
                    <input type="text" name="goods_price" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div style="margin-top: 20px;"></div>

        <div class="layui-form-item">
            <label class="layui-form-label">商品数量:</label>
            <div class="layui-input-inline">
                <input type="text" name="number" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label">单位:</label>
            <div class="layui-input-inline">
                <input type="text" name="unit" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-input-block">
            <button id="butt" class="layui-btn" lay-submit lay-filter="formDemo" style="margin-left:80px;background-color:#1E9FFF">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary" style="margin-left:140px">重置</button>
        </div>
    </form>
    <script>
    layui.use('form', function(){
    var form = layui.form;
    form.on('submit(formDemo)', function(data){
    var dataobj=data.field;
    $.ajax({
    url:"{:url('index/contract/goods_data')}",
    type:"post",
    data:{formdata:JSON.stringify(dataobj)},
    success:function (res) {
    res=JSON.parse(res);
    if(res.status=='error'){
        layer.msg(res.msg);
    }else{
        close();
    }
    },
    error:function () {
    alert('网络错误!!!');
    }
    })
    return false;
    });
    });

    </script>
</body>
</html>