<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="__STATIC__/css/global.css" media="all">
    <script type="text/javascript" src="__STATIC__/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__STATIC__/layer/layer/layer.js"></script>
    <script type="text/javascript" src="__STATIC__/layui/layui.js" charset="utf-8"></script>
</head>
<body>
    111
</body>
</html>