<style>
        /*时间线*/
    #timeline{padding: 5px;}
    #process{
      font-size: 10px;
      height: 24px;
    }
    #process li {
      float: left;
      position: relative;
      list-style: none;
      margin: 0 20px 12px -15px;
      border-top: solid 1px skyblue;
      border-bottom: solid 1px skyblue;
      padding-left: 12px;
      padding-right: 1px;
      line-height: 20px;
      font-weight: 700
    }
    #process li:after, #process li:before {
      border: 10px solid transparent;
      border-left: 10px solid #fff;
      width: 0;
      height: 0;
      position: absolute;
      top: 0;
      right: -18px;
      content: ' '
    }
    #process li:before {
      border-left-color: blue;
      right: -19px;
    }
    .timeline{
      padding-bottom: 5px;
      padding-left: 15px;
      border-bottom:1px solid #ccc;
    }
  .layui-layer-content{
    overflow: visible !important;
  }
</style>

<!-- 流程图 -->
<div id="timeline">
  <div class="timeline flex-box flex-b">
    <ul id="process">
      {volist name="nodes" id="vo"}
        <li id="{$vo.nodeid}">{$vo.node_name}</li>
      {/volist}
    </ul>
  </div>
</div>

<form class="layui-form" id="nodeform">
  <input type="hidden"  class="layui-input" name="processid" value="{$process_id}">
  <div class="layui-form-item">
      <label class="layui-form-label">名称</label>
      <div class="layui-input-inline">
        <input type="text" name="node_name" lay-verify="required"  placeholder="请输入名称" autocomplete="off" class="layui-input">
      </div>
       <div class="layui-form-mid layui-word-aux"></div>
  </div>  
  <div class="layui-form-item">
      <label class="layui-form-label">期限</label>
      <div class="layui-input-inline">
        <input type="number" name="limit_time" lay-verify="required" placeholder="请选择期限" autocomplete="off" class="layui-input">
      </div>
       <div class="layui-form-mid layui-word-aux">/小时</div>
  </div>
  <div class="layui-form-item">
      <label class="layui-form-label">角色</label>
      <div class="layui-input-inline">
      <select name="opera_person" lay-verify="" class="layui-input">
        <option value="">请选择</option>
        {volist name="roles" id="vo"}
            <option value="{$vo.id}">{$vo.name}</option>
        {/volist}
      </select>     
      </div>
      <div class="layui-form-mid layui-word-aux"></div>
  </div>
  <div class="layui-form-item">
      <label class="layui-form-label">下一个节点</label>
      <div class="layui-input-inline">
      <select name="next_node" id="next_node" lay-verify="" value="0571"  class="layui-input" style="padding-top: 50px">
        <option value="last">最后节点</option>
        {volist name="nodes" id="vo"}
            <option value="{$vo.nodeid}">{$vo.node_name}</option>
        {/volist}
      </select>     
      </div>
      <div class="layui-form-mid layui-word-aux"></div>
  </div>

  <div class="layui-form-item">
    <div class="layui-input-block">
      <button type="button" class="layui-btn addNode">增加节点</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>    
</form>
<script>
$("#process>li:even").css("color","orange");
$("#process>li:odd").css("color","skyblue");
layui.use('form', function(){
  var form = layui.form,
       $ = layui.jquery;
    
    //提交
    var nodeArr = [];
    $(".addNode").on("click",function(){
      var data = {};
      var status = 1
      $('#nodeform').find('.layui-input').each(function(){
        if(typeof($(this).attr('name')) != "undefined"){
          if($(this).val() == ""){
             layer.msg("必填项不可为空！",{icon: 5});//失败的表情
             status = 0
             return false
          }
          data[$(this).attr('name')] =  $(this).val();         
        }
      })
      if(status){
        //插入数据库
        var url = "{:url('index/process/addNode')}"
        $.post(url,{data:JSON.stringify(data)},function(res){
            res = JSON.parse(res)
            if(res.status == 'error'){
                layer.msg(res.msg,{icon: 5});//失败的表情
                return;
            }else if(res.status == 'success'){
              data["nodeid"] = res.data.nodeid
              $("#next_node").append("<option value="+res.data.nodeid+">"+res.data.node_name+"</option>");
              var obj = $("#process");
              showNode(data,obj)
              nodeStyle();
              layer.msg(res.msg, {
                icon: 6,//成功的表情
                time: 2000 //2秒关闭（如果不配置，默认是3秒）
              },function(){
                form.render();
              }) 
            }
            
        })
        
        $('#nodeform').find('.layui-input').each(function(){
          if($(this).attr('name')!= "processid"){
            $(this).val("")
          }
          
        })
        form.render();
      }else{
        return false
      }
      
    })

    // 节点流程
    function showNode(data,obj){
      if(data["next_node"] != "last"){
        var temp = []
        obj.find('li').each(function(){
          temp.push([$(this).attr("id"),$(this).html()])
        })
        obj.empty();
        for (var i = 0 ; i < temp.length ; i++) {
          if(data["next_node"] == temp[i][0]){
            for (var j = temp.length-1; j >=i ; j--) {
              temp[j+1] = temp[j];
            }
            temp[i] = [data.nodeid,data.node_name];
            break;
          }
        }
        for (var i = 0; i< temp.length ; i++) {

            obj.append("<li id='"+temp[i][0]+"''>"+temp[i][1]+"</li>");
        }
        nodeStyle()
      }else{
        obj.append("<li id='"+data.nodeid+"'>"+data.node_name+"</li>");
      }
      
      //nodeArr.push(data);
    }
    // 节点样式
    function nodeStyle(){
      $("#process>li:even").css("color","orange");
      $("#process>li:odd").css("color","skyblue");
    } 
    form.render(); 
  });
</script>