<div id="form_content" style="width: 98%;padding: 5px;border:2px solid #fff;background: #f1f1f1">
  <header style="width: 100%;text-align: center;margin-bottom: 20px;font-size:16px">---- &nbsp;&nbsp;&nbsp; <b>审批信息</b> &nbsp;&nbsp;&nbsp; ----</header>
  <div id="form" style="width:100%">

  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">盖章类型:</label>
    <div class="layui-input-inline">
      <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input" value="{$stamp}" readonly>
    </div>
  </div>
</div>
<div style="width: 98%;padding: 5px;border:2px solid skyblue;background: #9cf">
<input type="hidden" name="task_id" value="{$task_id}">
  <p style="width: 100%;text-align: center;font-size:16px">---- &nbsp;&nbsp;&nbsp; <b>审批历史</b> &nbsp;&nbsp;&nbsp; ----</p>
  <div class="layui-form-item">

    <table class="layui-table" >
      <colgroup>
        <col width="300">
        <col width="150">
        <col width="250">
        <col width="150">
        <col width="300">
        <col width="300">
      </colgroup>
      <thead>
        <tr>
          <th>审批编号</th>
          <th>审批人</th>
          <th>审批节点名称</th>
          <th>操作</th>
          <th>附言</th>
          <th>操作时间</th>
        </tr> 
      </thead>
      <tbody id="detail">
      {volist name="history" id="vo"}
          <tr>
          <td>{$vo.id}</td>
          <td>{$vo.opera_person}</td>
          <td>{$vo.node_name}</td>
          <td>{if condition="$vo.status eq 'pass'"} 通过{else /}驳回 {/if}</td>
          <td>{$vo.remark}</td>
          <td>{$vo.opera_time}</td>
        </tr>
        {/volist}
      </tbody>
    </table>

</div>
  </div>
<div style="width: 98%;padding: 5px;border:2px solid skyblue;background: #f1f1f1">
  <input type="hidden" name="cache_id" value="{$cache_id}">
  <p style="width: 100%;text-align: center;font-size:16px">---- &nbsp;&nbsp;&nbsp; <b>附言</b> &nbsp;&nbsp;&nbsp; ----</p>
  <div class="layui-form-item layui-form-text" style="margin-top: 30px;">
    <label class="layui-form-label">附言:</label>
    <div class="layui-input-block">
      <textarea name="remark" placeholder="请输入内容" class="layui-textarea" style="width: 80%"></textarea>
    </div>
  </div>
</div>
  
  <script>
  $(function(){
     $.get("{:url('index/process/getTaskPageandContent')}",{task_id:"{$task_id}"},function(data){
         $("#form").html(data);
     })
  })
  </script>
