<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
<legend>
    <a href="">新{$res.contract_type}合同审批</a>
</legend>
</fieldset>
<form class="layui-form" action="" id="process">
  <input type="text" class="layui-hide" name="contract_type" value="{$res.contract_type}">
  <div class="layui-form-item">
    <label class="layui-form-label">合同编号：</label>
    <div class="layui-input-inline">
      <input type="text" name="contract_id" required  lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" value="{$res.contract_id}" readonly>
    </div>
    <label class="layui-form-label">{$res.contract_type}客户：</label>
    <div class="layui-input-inline">
      <input type="text" name="business_name" required lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" value="{$res.business_name}" readonly>
    </div>
    <!-- <div class="layui-form-mid layui-word-aux">辅助文字</div> -->
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">申请人：</label>
    <div class="layui-input-inline">
      <input type="text" name="creator" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input" value="{$res.creator}" readonly>
    </div>
    <label class="layui-form-label">{$res.contract_type}金额：</label>
    <div class="layui-input-inline">
    <input type="number" name="money" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input" value="{$res.money}" readonly>
    </div>
    <!-- <div class="layui-form-mid layui-word-aux">辅助文字</div> -->
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">{$res.contract_type}商品：</label>
    <div class="layui-input-block">
    <div style="width: 98%;padding: 5px;border:2px solid skyblue">
    <table class="layui-table" >
      <colgroup>
        <col width="200">
        <col width="200">
        <col width="200">
      </colgroup>
      <thead>
        <tr>
          <th>{$res.contract_type}商品</th>
          <th>数量</th>
          <th>{$res.contract_type}金额</th>
        </tr> 
      </thead>
      <tbody id="detail">
      {volist name="res.content" id="vo"}
          <tr>
          <td class="goods_name">{$vo.goods_name}</td>
          <td class="count">{$vo.count}</td>
          <td class="total">{$vo.total}</td>
        </tr>
        {/volist}
      </tbody>
    </table>
    </div>
</div>
  </div>
<!--  <div class="layui-form-item">
    <label class="layui-form-label">盖章类型：</label>
    <div class="layui-input-block">
      <input type="radio" name="seal" value="合同章" title="合同章">
      <input type="radio" name="seal" value="公章" title="公章" checked>
    </div>
  </div> -->
</form>

<script>
layui.use('form', function(){
  var form = layui.form;
  //监听提交
  form.on('submit(formDemo)', function(data){
    layer.msg(JSON.stringify(data.field));
    var res = data.field;
    var tab = [];
    $("#detail").find("tr").each(function(j,it){
        var id = {};
        $(this).find("td").each(function(i,item){
          id[$(this).attr("class")] = $(this).html();
       })
        tab.push(id);
    })
    
    res ["content"] = tab;
    var str_res = JSON.stringify(res);
    var url = "{:url('index/process/contractProcess')}";
    $.post(url,{process_data:str_res},function(data){
        data = JSON.parse(data);
        if(data.status == 'error'){
          layer.msg(data.msg,{icon: 5});//失败的表情
          return;
        }else if(data.status == 'success'){
          layer.msg(data.msg, {
          icon: 6,//成功的表情
          time: 2000 //2秒关闭（如果不配置，默认是3秒）
        }, function(){
          location.reload();
        }); 
        }else{
          layer.msg(data.msg,{icon: 5});//失败的表情
             return;
          }
    })
    return false;
  });
  form.render(); 
});
</script>
