<form class="layui-form">
<div class="layui-form-item">
    <label class="layui-form-label">菜单图标</label>
    <div class="layui-input-inline">
      <input type="text" name="icon" {if condition="$data['pid'] && $data['is_menu']"} lay-verify="required" {/if} placeholder="请输入菜单图标" autocomplete="off" value="{$data['icon']}" class="layui-input">
    </div>
     <div class="layui-form-mid layui-word-aux">具体参考layui官网</div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">菜单名称</label>
    <div class="layui-input-inline">
      <input type="text" name="menu_name" lay-verify="required" placeholder="请输入菜单名称" value="{$data['menu_name']}" autocomplete="off" class="layui-input">
    </div>
  </div>
      <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">父级菜单</label>
      <div class="layui-input-inline">
        <select size="10"  name="pid" id="pid" {if condition="$data['pid'] "} lay-verify="required"{/if}  class="layui-input" lay-search="">
          <option value="0" >一级菜单</option>
          {foreach name="menus" as item="v" }
              <option value="{$v['id']}">{$v['menu_name']}</option>
          {/foreach}

        </select>
      </div>
    </div>
    </div>
  <div class="layui-form-item">
    <label class="layui-form-label">路由地址</label>
    <div class="layui-input-inline">
      <input type="text" name="action" {if condition="$data['pid'] "}lay-verify="required"{/if} placeholder="请输入路由地址" autocomplete="off" value="{$data['action']}"  class="layui-input">
    </div>
    
    <div class="layui-form-mid layui-word-aux">请填入设置好的路由地址</div>
  </div>
 

  <input type="hidden" name="id" value="{$data['id']}">
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="addmenu">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
<script>
  $(function(){
    var pid = "{$data['pid']}";
    $('#pid').val(pid);
  })
layui.use('form', function(){
	var form = layui.form,
   		 $ = layui.jquery
	  //监听提交
	  form.on('submit(addmenu)', function(data){
		  
	    var userInfo = data.field;
		var url = "{:url('index/admin/editMenu')}";
		$.post(url,userInfo,function(data){
      data = JSON.parse(data)
			if(data.status == 'error'){
				  layer.msg(data.msg,{icon: 5});//失败的表情
				  return;
			  }else if(data.status == 'success'){
				  layer.msg(data.msg, {
					  icon: 6,//成功的表情
					  time: 2000 //2秒关闭（如果不配置，默认是3秒）
					}, function(){
					   location.reload();
					}); 
			  }
		})
		
	    return false;//阻止表单跳转
	  });

  form.render();

	});
</script>